<header id="header">
    <h2> Our Product </h2>
    <hr>
    <div class="tech-block container">
        <div class="row">
            <div class="col-md-6">
                <img class="product-image" src="/images/coffe-image.jpg" alt="">
            </div>
            <div class="col-md-6">
                <h3>A More In Depth Look</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quibusdam culpa fugiat, earum expedita provident veritatis
                    quaerat, molestiae sit esse cumque exercitationem vel quasi asperiores modi. Sint non harum excepturi?
                </p>
                <h3>What Differentiate Us</h3>
                <p>
                    Lorem ipsum dolor sit amet consectiat, earum expedita provident veritatis quaerat, molestiae sit esse csperiores modi. Sint
                    non harum excepturi?
                </p>
            </div>
        </div>
    </div>

</header>

<section id="header">
    <div class="tech-block container">
        <div class="row">
            <div class="left-block col-md-6">
                <h3 id="right-header">What Are the Advantages </h3>
                <p id="right-paragraph">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quibusdam culpa fugiat, earum expedita provident veritatis
                    quaerat, molestiae sit esse cumque exercitationem vel quasi asperiores modi. Sint non harum excepturi?
                </p>
                <h3 id="right-header">Best Custom Catered Service</h3>
                <p id="right-paragraph">
                    Lorem ipsum dolor sit amet consectiat, earum expedita provident veritatis quaerat, molestiae sit esse csperiores modi. Sint
                    non harum excepturi?
                </p>
            </div>
            <div class="col-md-6">
                <img class="product-image" src="/images/coffee-machine.jpg" alt="">
            </div>
        </div>
    </div>

</section>

<section id="about-me" class="about-me">
    <h2>Core Values</h2>
    <hr>
    <div class="container">
        <div class="about-me-cont row">
            <div class="passion-cont col-md-4">
                <h3>Quality</h3>
                <i class="fa-3x fa fa-futbol-o"></i>
                <p>
                    Lorem ipsum dolor, sit amet con sectetur adipisicing elit. Vero labori osam minima quas dolorum! Soluta aspernatur

                </p>
            </div>
            <div class="passion-cont col-md-4">
                <h3>Evironmental Awareness</h3>
                <i class="fa-3x fa fa-music"></i>
                <p>
                    Lorem ipsum dolor, sit amet con sectetur adipisicing elit. Vero labori osam minima quas dolorum! Soluta aspernatur

                </p>
            </div>
            <div class="passion-cont col-md-4">
                <h3>Consistency</h3>
                <i class="fa-3x fa fa-terminal"></i>
                <p>
                    Lorem ipsum dolor, sit amet con sectetur adipisicing elit. Vero labori osam minima quas dolorum! Soluta aspernatur

                </p>
            </div>
        </div>
    </div>


</section>

<section class="testimonial">
    <div class="testimonial-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="carousel-testimonial" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-testimonial" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-testimonial" data-slide-to="1" class=""></li>
                            <li data-target="#carousel-testimonial" data-slide-to="2" class=""></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active text-center">
                                <img class="center-block" src="/images/client-01.jpg" alt="testimonial">
                                <div class="testimonial-caption">
                                    <h2>Randal</h2>
                                    <h4>
                                        <span> Sr. Software Engineer, </span>Runs as a hobby</h4>
                                    <p>
                                        "I really love this website, it helped me getting a good reference of my personal health."
                                    </p>
                                </div>
                            </div>
                            <div class="item text-center">
                                <img class="center-block" src="/images/client-02.jpg" alt="testimonial">
                                <div class="testimonial-caption">
                                    <h2>Juan Jose</h2>
                                    <h4>
                                        <span> Career Coach, </span>Set the bar high</h4>
                                    <p>
                                        'I am allways travelling so being able to lookout for spots where I can work out is just fantastic.'
                                    </p>
                                </div>
                            </div>
                            <div class="item text-center">
                                <img class="center-block" src="/images/client-03.jpg" alt="testimonial">
                                <div class="testimonial-caption">
                                    <h2>Fernado</h2>
                                    <h4>
                                        <span> Statistitian, </span>Agility</h4>
                                    <p>
                                        'I really like to go walking on trails. This app allowed me to discover new trails and post the ones that I know.'
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="desk" class="hire-me">
    <h2>Follow Us On Facebook </h2>
    <hr>
    <div class="container">
        <div class="row">
            <div class="button-col col-md-12">
                <a href="#header" target="_blank" class="button"> Link to Facebook Page </a>
            </div>
        </div>
    </div>
</section>
<section id="footer" class="contact-me">
    <h2>Contact Me</h2>
    <hr>
    <p>Let's build something! Let's work Together!</p>
    <p> Send me an email with your info so we can start this new adventure!</p>

    <div class="form-cont container">
        <form action="">
            <div class="row">
                <label for="" class="col-md-4 col-sm-4">Name</label>
                <input class="col-md-6 col-sm-8" type="text">
            </div>
            <div class="row">
                <label for="" class="col-md-4">Email</label>
                <input class="col-md-6 col-sm-8" type="text">
            </div>
            <div class="row">
                <textarea class="col-md-offset-4 col-md-6 col-sm-offset-6 col-sm-6" name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="row">
                <div class="button-col col-md-offset-4 col-md-6">
                    <button class="send-e-button">Send</button>
                </div>
            </div>
        </form>
    </div>
</section>